/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "materialize";
@import "materialize/extras/nouislider";

.modal.task {
    top: 5% !important;
    height: 90%;
    width: 90%;
    max-height: 100%;
}

[contenteditable=true] {
    border: 2px dashed map-get($blue, base);
    margin-top: 6px !important;
    padding: 3px;
    margin-bottom: 6px !important;
    outline: none
}

h4[editable],
[editable="description"] > p,
[action="changeStart"],
[action="changeEnd"] {
    cursor: pointer
}