<div class="col s12">
    <div class="card grey lighten-5">
        <div type="TODOTask" action="<%= url_for controller: "task", action: "update", id: @task_list.slug, id: task.id %>" class="card-content black-text">
            <div editable="description">
                <p class="flow-text"><%= task.description %></p>
                <div class="actions right-align" style="display: none">
                    <div action="save" class="btn blue">Save</div>
                    <div action="cancel" class="btn white black-text">Cancel</div>
                </div>
            </div>
            
            <div editable="state" class="input-field">
                <select name="state">
                    <option <% if task.state == "done" -%>selected<% end -%> value="done">Done</option>
                    <option <% if task.state == "not_done" -%>selected<% end -%> value="not_done">Not Done</option>
                </select>
                <label>State</label>
            </div>
        </div>
    </div>
</div>